## Dependencies

In [1]:
import pandas as pd
import numpy as np
import os
import shutil
from datetime import date
import csv
import time
import zipfile
import requests
import steam
from steam.steamid import SteamID
from steam.webapi import WebAPI, get
import steamleaderboards as sl
import os,sys,stat
from zipfile import ZipFile, ZipInfo
import difflib
import re

# 1. unpack stats from folder

(from zip)

In [2]:
# App will find directory on computer or user can input the directory of the stats folder
#dataDir = 'G:\Steam\steamapps\common\FPSAimTrainer\FPSAimTrainer\stats_comp.zip'
#target = ['Kills:', 'Avg TTK:', 'Score:', 'Scenario:']
#temp_folder = '../temp'
#
## unzip and extract to a temporary folder
#with zipfile.ZipFile(dataDir, 'r') as zip_ref:
#   zip_ref.extractall(temp_folder) # If files with same filename are already present at extraction location then it will overwrite those files.
#

In [3]:
#unzipped_stats = temp_folder + '\stats'
#
#try:
#    stats = pd.read_csv(unzipped_stats)
#except:
#    stats = pd.DataFrame(columns=['Kills', 'Avg TTK', 'Score', 'Scenario'])

FROM DIRECTORY

In [4]:
dataDir = 'G:\Steam\steamapps\common\FPSAimTrainer\FPSAimTrainer\stats'
target = ['Kills:', 'Avg TTK:', 'Score:', 'Scenario:']

try:
    stats = pd.read_csv(dataDir + '\\stats.csv')
except:
    stats = pd.DataFrame(columns=['Kills', 'Avg TTK', 'Score', 'Scenario','Damage Done'])

In [5]:
# Empty dict to store our csv data
data = {}

# Go through all the files and store our target data in our empty dictionary, including the datetime of the file.
for filename in os.listdir(dataDir):
    
    f = open(f'{dataDir}/{filename}', 'r')
    with f as csv_file:
        csv_reader = csv.reader(csv_file)
        for line in csv_reader:
            try:
                if line[0] in target:
                    data[(line[0][:-1])] = line[1]     
            except IndexError:
                continue
        f.close()

    scenario_date = f'{dataDir}/{filename}'[-29:-10]
    data["Date"] = scenario_date
    df = pd.DataFrame(data, index=[0])
    stats = pd.concat([stats,df]).drop_duplicates().reset_index(drop=True)

# CLEAN

In [6]:
stats.head(3)

  Kills Avg TTK         Score           Scenario                 Date
0     2       0  10792.587891  180 Regen Warzone  2021.07.27-22.47.26
1    12       0  22690.832031  180 Regen Warzone  2021.07.27-22.48.41
2     7       0  15467.339844  180 Regen Warzone  2021.07.27-22.49.53

In [7]:
stats.isna().sum() #NO Nan

Kills       0
Avg TTK     0
Score       0
Scenario    0
Date        0
dtype: int64

In [8]:
stats.duplicated().sum() #NO duplicates

0

In [9]:
stats['Kills'] = pd.to_numeric(stats['Kills'], downcast='integer')
stats['Avg TTK'] = pd.to_numeric(stats['Avg TTK'], downcast='float')
stats['Score'] = pd.to_numeric(stats['Score'], downcast='float')
stats['Date'] = pd.to_datetime(stats['Date'], yearfirst=True, format=('%Y.%m.%d-%H.%M.%S'),exact=False)

In [10]:
stats.head()

   Kills  Avg TTK         Score           Scenario                Date
0      2      0.0  10792.587891  180 Regen Warzone 2021-07-27 22:47:26
1     12      0.0  22690.832031  180 Regen Warzone 2021-07-27 22:48:41
2      7      0.0  15467.339844  180 Regen Warzone 2021-07-27 22:49:53
3      9      0.0  16614.562500  180 Regen Warzone 2021-07-28 22:45:19
4     10      0.0  16942.285156  180 Regen Warzone 2021-07-28 22:46:26

# SAVE

In [11]:
stats.to_csv("data/stats.csv", index=False)

# 2. CREATE COUNTER THAT COUNTS UP MY HIGHEST SCORING GAME IN REAL-TIME

### Search Bar

In [37]:

scenario_names = (stats['Scenario'].unique()).astype(str)
user_input = '180 warzon' #tkinter search bar
try:
    closest_match = (difflib.get_close_matches(str(user_input), scenario_names, n=1,cutoff=0.45).pop(0))
    print(closest_match)
except Exception:
    print('we can\'t find that scenario. Did u spel it rite?')

180 Regen Warzone

In [38]:
scenario = stats.loc[stats['Scenario'] == closest_match]
scenario

    Kills  Avg TTK         Score           Scenario                Date
0       2      0.0  10792.587891  180 Regen Warzone 2021-07-27 22:47:26
1      12      0.0  22690.832031  180 Regen Warzone 2021-07-27 22:48:41
2       7      0.0  15467.339844  180 Regen Warzone 2021-07-27 22:49:53
3       9      0.0  16614.562500  180 Regen Warzone 2021-07-28 22:45:19
4      10      0.0  16942.285156  180 Regen Warzone 2021-07-28 22:46:26
5       4      0.0   7884.500000  180 Regen Warzone 2021-07-29 17:31:04
6       5      0.0   9950.264648  180 Regen Warzone 2021-07-29 17:32:49
7      12      0.0  16046.000000  180 Regen Warzone 2021-07-30 18:12:18
8       6      0.0  10583.379883  180 Regen Warzone 2021-07-30 18:13:24
9       9      0.0  13275.500000  180 Regen Warzone 2021-07-30 18:42:56
10     17      0.0  21233.000000  180 Regen Warzone 2021-07-30 18:44:04
11     13      0.0  19998.851562  180 Regen Warzone 2021-07-31 16:04:48
12     12      0.0  16102.803711  180 Regen Warzone 2021-07-31 16:05:52
13     11      0.0  14995.000000  180 Regen Warzone 2021-08-01 15:34:50
14     13      0.0  17097.000000  180 Regen Warzone 2021-08-01 15:35:54
15     12      0.0  16125.232422  180 Regen Warzone 2021-08-03 19:03:42
16     13      0.0  16519.000000  180 Regen Warzone 2021-08-03 19:04:52
17     15      0.0  18638.000000  180 Regen Warzone 2021-08-04 18:51:58
18     11      0.0  14672.000000  180 Regen Warzone 2021-08-04 18:53:02
19     19      0.0  23351.091797  180 Regen Warzone 2021-08-05 20:07:09
20     16      0.0  19638.000000  180 Regen Warzone 2021-08-05 20:08:14
21     28      0.0  33057.500000  180 Regen Warzone 2021-08-30 22:02:37
22     26      0.0  31083.000000  180 Regen Warzone 2021-08-30 22:03:43
23     23      0.0  26986.500000  180 Regen Warzone 2021-09-06 18:39:35
24     24      0.0  28207.500000  180 Regen Warzone 2021-09-06 18:40:39
25     22      0.0  25740.000000  180 Regen Warzone 2021-09-07 19:39:29
26     28      0.0  32437.000000  180 Regen Warzone 2021-09-07 19:40:37
27     25      0.0  29029.000000  180 Regen Warzone 2021-09-11 02:36:23
28     24      0.0  28105.500000  180 Regen Warzone 2021-09-11 02:37:31
29     28      0.0  32777.000000  180 Regen Warzone 2021-09-11 19:39:09
30     25      0.0  29173.500000  180 Regen Warzone 2021-09-11 19:40:12
31     27      0.0  31105.500000  180 Regen Warzone 2021-09-12 18:48:16
32     28      0.0  32097.000000  180 Regen Warzone 2021-09-12 18:49:19
33     27      0.0  31462.500000  180 Regen Warzone 2021-09-14 21:02:28
34     29      0.0  33615.500000  180 Regen Warzone 2021-09-14 21:03:42
35     28      0.0  32326.500000  180 Regen Warzone 2021-09-16 17:59:06
36     32      0.0  36624.000000  180 Regen Warzone 2021-09-16 18:00:10
37     22      0.0  25629.500000  180 Regen Warzone 2021-11-15 17:35:37
38     32      0.0  37261.500000  180 Regen Warzone 2021-11-15 17:36:42
39     33      0.0  38933.000000  180 Regen Warzone 2021-11-18 17:48:20
40     41      0.0  47264.500000  180 Regen Warzone 2021-11-18 17:49:23

### Date of highest score

In [39]:


high_score_date = []
# The following is simply to catch the high_score_date, nothing more!
if sum(scenario['Score']) == 0.0:
    high_score_date.append(scenario.sort_values('Kills')['Date'].iloc[-1])
elif sum(scenario['Kills']) > 0  and sum(scenario['Score']) > 0.0:
    high_score_date.append(scenario.sort_values('Score')['Date'].iloc[-1])

hs_date = str(high_score_date[0])
hs_date

'2021-11-18 17:49:23'

### Now we search for the .csv file with the highest score

In [40]:
hs_year = hs_date[:4]
hs_month = hs_date[5:7]
hs_day = hs_date[8:10]
hs_hour = hs_date[11:13]
hs_min = hs_date[14:16]
hs_sec = hs_date[17:19]

In [41]:
Kill = []
Time = []
Acc = []
Challenge_start = []

for filename in os.listdir(dataDir):
    if f'{hs_year}.{hs_month}.{hs_day}-{hs_hour}.{hs_min}.{hs_sec} Stats.csv' in filename:
        f = open(f'{dataDir}/{filename}', 'r')
        with f as csv_file:
            csv_reader = csv.reader(csv_file)
            for line in csv_reader:
                try:
                    Kill.append(line[0])
                    Time.append(line[1])
                    Acc.append(line[7])
                except Exception:
                    break 
            for line in csv_reader:
                try:
                    if line[0] in 'Challenge Start:' and line[1] not in 'H:M:S.s':
                        Challenge_start.append(line[1])
                    elif line[0] in 'Challenge Start:' and line[1] in 'H:M:S.s' or '':
                        start = pd.to_datetime(Time[-1]) - ((pd.to_datetime(Time[-1]) - pd.to_datetime(Time[1])).round(freq='T')) # deduce length between challenge start and first kill
                        Challenge_start.append(str(start)[11:-3])
                except Exception:
                    continue              
        f.close()
Challenge_start

['17:48:23.911']

In [42]:
data_tuples = list(zip(Kill,Time,Acc))

high_score_df = (pd.DataFrame(data_tuples,columns=('Kill #','Time', 'Accuracy'))
                    .replace(['Kill #','Accuracy'], 0)
                    ).replace('Timestamp',''.join(str(Challenge_start[0])))

high_score_df.head()

  Kill #          Time Accuracy
0      0  17:48:23.911        0
1      1  17:48:28.853    0.361
2      2  17:48:30.105    0.562
3      3  17:48:32.250    0.343
4      4  17:48:33.564      0.5

CLEAN (i need the dates column type to be float in order to make my calculations)

In [43]:
high_score_df['Kill #'] = pd.to_numeric(high_score_df['Kill #'], downcast='integer')
high_score_df['Accuracy'] = pd.to_numeric(high_score_df['Accuracy'], downcast='float')
# DO I WANY TIME IN DATE TIME FORMAT OR EASIER AS STRING??
high_score_df['Time'] = pd.to_datetime(high_score_df['Time'],format=('%H:%M:%S.%f'),exact=False)
high_score_df['ms'] = (high_score_df['Time'] - high_score_df['Time'].iloc[0]) / pd.to_timedelta('1ms')
high_score_df

    Kill #                    Time  Accuracy       ms
0        0 1900-01-01 17:48:23.911     0.000      0.0
1        1 1900-01-01 17:48:28.853     0.361   4942.0
2        2 1900-01-01 17:48:30.105     0.562   6194.0
3        3 1900-01-01 17:48:32.250     0.343   8339.0
4        4 1900-01-01 17:48:33.564     0.500   9653.0
5        5 1900-01-01 17:48:37.044     0.308  13133.0
6        6 1900-01-01 17:48:37.839     0.556  13928.0
7        7 1900-01-01 17:48:38.883     0.357  14972.0
8        8 1900-01-01 17:48:40.782     0.409  16871.0
9        9 1900-01-01 17:48:41.857     0.583  17946.0
10      10 1900-01-01 17:48:43.477     0.562  19566.0
11      11 1900-01-01 17:48:44.278     0.600  20367.0
12      12 1900-01-01 17:48:45.334     0.500  21423.0
13      13 1900-01-01 17:48:46.002     0.714  22091.0
14      14 1900-01-01 17:48:47.228     0.467  23317.0
15      15 1900-01-01 17:48:49.348     0.457  25437.0
16      16 1900-01-01 17:48:50.277     0.417  26366.0
17      17 1900-01-01 17:48:51.082     0.750  27171.0
18      18 1900-01-01 17:48:52.663     0.370  28752.0
19      19 1900-01-01 17:48:54.269     0.462  30358.0
20      20 1900-01-01 17:48:55.143     0.455  31232.0
21      21 1900-01-01 17:48:55.881     0.778  31970.0
22      22 1900-01-01 17:48:57.083     0.353  33172.0
23      23 1900-01-01 17:48:58.254     0.562  34343.0
24      24 1900-01-01 17:48:59.284     0.600  35373.0
25      25 1900-01-01 17:49:01.130     0.345  37219.0
26      26 1900-01-01 17:49:02.805     0.385  38894.0
27      27 1900-01-01 17:49:03.621     0.667  39710.0
28      28 1900-01-01 17:49:05.257     0.409  41346.0
29      29 1900-01-01 17:49:06.498     0.316  42587.0
30      30 1900-01-01 17:49:08.208     0.552  44297.0
31      31 1900-01-01 17:49:09.315     0.556  45404.0
32      32 1900-01-01 17:49:10.185     0.600  46274.0
33      33 1900-01-01 17:49:12.151     0.533  48240.0
34      34 1900-01-01 17:49:14.728     0.349  50817.0
35      35 1900-01-01 17:49:16.493     0.448  52582.0
36      36 1900-01-01 17:49:18.156     0.308  54245.0
37      37 1900-01-01 17:49:19.494     0.545  55583.0
38      38 1900-01-01 17:49:20.630     0.429  56719.0
39      39 1900-01-01 17:49:21.611     0.462  57700.0
40      40 1900-01-01 17:49:22.908     0.381  58997.0
41      41 1900-01-01 17:49:23.562     0.667  59651.0

## create counter.

In [48]:
score_kills = 0

for index, value in enumerate(high_score_df['ms']):
    if value == 0.0:
        print('GO')      
        time.sleep((high_score_df['ms'][1])/1000)
        score_kills += 1
        print(f'Score/Kills: {score_kills}',end='\r')
    else:
        try:
            time.sleep((high_score_df['ms'][index+1] - high_score_df['ms'][index])/1000)
            score_kills += 1 
            print(f'Score/Kills: {score_kills}',end='\r')
        except Exception:
            break

GO

KeyboardInterrupt: